<strong>Olá, {{ creator }}</strong>
<p>Houve uma inscrição no seu meetup <strong>{{meetup}}</strong> que ocorrerá no {{date}}.</p>

 <p>Os dados do inscrito estão abaixo:</p>
<p>
  <strong>Nome: </strong>{{ user }} <br/>
  <strong>Email: </strong>{{ email }} <br/>
  <br/>
</p>
